<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <h1>{{msg}}</h1>
        <h2>Welcome our Home Page!</h2>
        <hr>
        <h2 class="text-center font-weight-bold" >June Newsletter</h2>
        <p>This will contain the first paragraph of the newsletter</p>
        <p>This will contain the second paragraph of the newsletter</p>
        {{!-- <ul id="example-list" class="list-group">
          {{#each dbResidents}}
          <li data-id="{{dataValues.id}}" class="list-group-item">
            <a href="example/{{dataValues.id}}">{{dataValues.unitNo}}  -  {{dataValues.ownerLastName}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/bouncer/dist/bouncer.polyfills.min.js"></script>
<script src="/js/index.js"></script> --}}
