<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">FLCCE Resident Contact Information</h2>
        <p class="text-center">If you would like to update your contact information, please email <a href="mailto:heatherblacksrq@yahoo.com">heatherblacksrq@yahoo.com</a></p>
                  <div class="resident-container mb-5" background="/img/martini.jpg">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Unit</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Alt Phone</th>
                            <th scope="col">Email</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each dbResidents}}
                            <tr scope="row">
                              <th>{{dataValues.unitNo}}</th>
                              <th>{{dataValues.ownerFirstName}} {{dataValues.ownerLastName}}</th>
                              <th>{{dataValues.phone1}}</th>
                              <th>{{dataValues.phone2}}</th>
                              <th>{{dataValues.email}}</th>
                            </tr>
                          {{/each}}
                  
                        </tbody>
                      </table>
                    </div>
                      
                  </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/residents.js"></script>
